@model Product
<form class="form-inlin justify-content-center" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data"> 
    <input asp-for="ProductId" type="hidden" /> 
    <div class="form-group"> 
        <label>Name</label> 
        <input class="form-control" asp-for="Name" aria-describedby="basic-addon1" /> 
    </div> 
    <div class="form-group"> 
        <label>Short Description</label> 
        <input class="form-control" asp-for="ShortDescription" aria-describedby="basic-addon1" /> 
    </div>
    <div class="form-group"> 
        <label>Long Description</label> 
        <input class="form-control" asp-for="LongDescription" aria-describedby="basic-addon1" /> 
    </div> 
    <div class="form-group"> 
        <label>Count</label> 
        <input class="form-control" asp-for="Count" aria-describedby="basic-addon1" /> 
    </div> 
    <div class="form-group"> 
        <label>Price</label> 
        <input class="form-control" asp-for="Price" aria-describedby="basic-addon1" /> 
    </div> 
    <div class="form-group">
      <label for="Category">Category</label>
      <select asp-for="CategoryId">
          @foreach(var c in ViewBag.Categories)
        {
          <option value="@c.CategoryId">@c.CategoryName</option>
        }
      </select>
      
      
    </div>
    <div class="form-group"> 
        <label>Image</label> 
        <input type="file" class="form-control-file"  id="exampleFormControlFile1" asp-for="ImageUrl" />
        <input class="form-control" asp-for="ImageUrl" aria-describedby="basic-addon1" /> 
        <input class="form-control" asp-for="ImageThumbnailUrl" aria-describedby="basic-addon1" /> 
    </div> 
    <input type="submit" class="btn btn-secondary btn-lg" value="Submit" /> 
</form>