@model IEnumerable<Product>
@{ 

} 
<h2>Admin Panel</h2> 
<a asp-controller="Product" asp-action="Create">Add new Product</a> 
<div> 
    <ul> 
       @foreach(var product in Model) 
        { 
            @product.Name
            <li>  
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> 
                <a asp-controller="Product" asp-action="Remove" asp-route-id="@product.ProductId"> 
                Remove 
                </a> 
            </li> 
        } 
    </ul> 
</div>